DEBUG=True
SECRET_KEY=
ALLOWED_HOSTS=127.0.0.1,localhost
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=5432
MONGO_DB_NAME=
MONGO_CONN_STRING=
MONGO_USERNAME=
MONGO_PASSWORD=
MONGO_AUTH_SOURCE=
STATIC_DIRECTORY=static
STATIC_URL=/static/
MEDIA_DIRECTORY=media
MEDIA_URL=/media/
WIT_KEY=IAKR
SENTRY_DSN=
REDIS_HOST=
REDIS_PORT=
REDIS_DB_NUMBER=
REDIS_DB_PREFIX=
CELERY_RESULT_BACKEND_URL=
WIT_KEY=
APP_URL=localhost:3000
CASEX_URL=
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=example@domain.com
EMAIL_HOST_PASSWORD=appPassword
SENTRY_KEY=
CELERY_RESULT_BACKEND_URL=
CELERY_BROKER_URL=
PUSHER_APP_ID=1234567
PUSHER_APP_KEY=1234567
PUSHER_SECRET_KEY=12345678
PUSHER_CLUSTER=ap2
PUSHER_CLUSTER_SSL=True
AWS_ACCESS_KEY_ID=
AWS_ACCESS_KEY=
AWS_REGION=
S3_BUCKET=
